.form-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    max-width: 550px;
}

.inputError {
    display: flex;
    height: 20px;
    margin-top: 4px;
}

.form-control {
    width: 300px;
}

.btn-container {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
}

.min-btn {
    margin-right: 15px;
}

.plus-btn {
    margin-left: 15px;
}

.text-danger {
    font-size: 13px;
}