.errorText {
    text-align: center;
}

.errorBtn {
    display: flex;
    justify-content: center;
}

.productPageCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maxBtn {
    width: 100px;
}